.service-item-card-asset {
  width: 160px;
  height: 160px;
  border-radius: 0px;
  object-fit: cover;
}

.appointment-booking-section{
    padding: var(--sds-size-space-1600);
}

.appointment-booking-heading p{
    color: var(--sds-color-text-default-secondary);
}

.appointment-booking-heading h3{
    color: var(--sds-color-text-default-default);
}

.book-now-button {
  padding: var(--sds-size-space-300);
  font-size: var(--sds-font-size-200);
  border-radius: var(--sds-size-radius-200);
  border: var(--sds-size-stroke-border) solid
    var(--sds-color-border-neutral-secondary);
  background: var(--sds-color-background-neutral-tertiary);
}
